<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filme - APMDb</title>

    <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon" />
  </head>
  <body class="bg-dark">
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand text-light fs-4 fw-bold" href="index.html"
          >APMDb</a
        >

        <a class="btn btn-outline-light" href="index.html">Página Inicial</a>
      </div>
    </nav>
    <div class="container d-grid gap-3 my-4">
      <!-- Cabecalho -->
      <div class="row">
        <div class="d-flex align-items-center">
          <h1 class="text-light">Indiana Jones e a Relíquia do Destino</h1>

          <div class="ms-auto text-end">
            <p class="text-light">12.200 Votos</p>
            <i class="bi bi-heart fs-2 text-warning"></i>
          </div>
        </div>
        <small id="dataLancamento">12/12/2012</small>
      </div>

      <!-- Seção do Poster e Trailer -->
      <div class="row gap-3">
        <div class="col-lg-3">
          <img
            src="https://image.tmdb.org/t/p/original/9EnfMH0nTPCna87Mh3G8Q6W2wze.jpg"
            class="img-fluid rounded-3"
            alt=""
          />
        </div>
        <div class="col-lg">
          <div class="ratio ratio-21x9 h-100">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/R7zJ896KLSk?si=eIiuDv4UinPrC4dU" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="d-flex gap-3">
        <span class="badge rounded-pill fs-5 px-4 py-2 bg-warning text-dark"
          >Aventura</span
        >
        <span class="badge rounded-pill fs-5 px-4 py-2 bg-warning text-dark"
          >Ação</span
        >
        <span class="badge rounded-pill fs-5 px-4 py-2 bg-warning text-dark"
          >Ficção</span
        >
      </div>

      <div class="row">
        <p class="fs-5 text-light">
          Encontrando-se em uma nova era, aproximando-se da aposentadoria, Indy
          luta para se encaixar em um mundo que parece tê-lo superado. Mas
          quando os tentáculos de um mal muito familiar retornam na forma de um
          antigo rival, Indy deve colocar seu chapéu e pegar seu chicote mais
          uma vez para garantir que um antigo e poderoso artefato não caia nas
          mãos erradas.
        </p>
      </div>
    </div>
  </body>
</html>